*{
  margin: 0;
  padding: 0;
}

body{
width: 100%;
}

nav{
  background-color: black;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.hero img{
  height: 800px;
  width: 1000px;
  padding-left: 200px;
  padding-bottom: 50px;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px;
}

nav ul li a{
  color: rgba(238, 85, 41, 1);
  text-decoration: none;
  font-weight: bold;
  font-size: 60px;
}

nav ul li a{
  padding-right: 300px;
  
}

nav a:hover{
  color: white;
}


nav{
  background-color: black;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.hero img{
  height: 800px;
  width: 1000px;
  padding-left: 200px;
  padding-bottom: 50px;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px;
}

nav ul li a{
  color: rgba(238, 85, 41, 1);
  text-decoration: none;
  font-weight: bold;
  font-size: 60px;
}

nav ul li a{
  padding-right: 300px;
  
}

nav a:hover{
  color: white;
}


/* ......contact....... */

.contact-text img{
  height: 70vh;
}

.contact-text h1{
  font-size: 300px;
  text-align: center;
   margin-top: -1300px;
  color: rgb(0, 0, 0);
}
.contact-text p{
  font-size: 90px;
  text-align: center;
  color: rgba(238, 85, 41, 1);

 
}


/* ...... contact us 1...... */


.min-contact{
  margin-top: 900px;
}

.icon{
  font-size: 200px;
  position: absolute;
  top: 2200px;
  left: 750px;
  color: rgb(255, 255, 255);
 
}

.box1{
  background-color: rgb(63, 63, 63);
  width: 700px;
  height: 600px;
  position: relative;
  margin-top: 800px;
  margin-left: 500px;
  border-radius: 20px;
}

.phone-text h6{
  font-size: 100px;
  font-weight: bold;

}

.phone-text h5{
  font-size: 70px;
  margin-left: -100px;
  
}

/* ...... contact us 2...... */

.what-contact{
  margin-left: -400px;
}

.what-box{
  background-color: rgb(63, 63, 63);
  width: 700px;
  height: 600px;
  position: relative;
  margin-left: 1700px;
  border-radius: 20px;
  margin-top: -600px;

}

.what-icon{
  font-size: 200px;
  color: white;
  padding-left: 270px;
  padding-top: 90px;
}

.what-nuber h6{
  font-size: 100px;
  font-weight: bold;
  padding-left: 140px;

  color: white;
}

.what-nuber h5{
  font-size: 70px;
  color: white;
  padding-left: 110px;
}

/* ...... contact us 3...... */

.email-box{
  background-color: rgb(63, 63, 63);
  width: 700px;
  height: 600px;
  margin-top: 200px;
  margin-left: 500px;
  border-radius: 20px;

}

.email-icon{
  font-size: 200px;
  color: rgb(255, 255, 255);
  position: absolute;
  left: 750px;
  margin-top: -550px;
  
}

.email-text h6{
  font-size: 100px;
  font-weight: bold;
  padding-left: 140px;
  color: white;

}
.email-text h5{
  font-size: 70px;
  color: white; 
  padding-left: 10px;

}
.email-text{
  position: relative;
  bottom: 270px;
  margin-left: 570px;
}

.con-email{
  margin-top: -100px;
}

/* <!-- .......contact us 4...... --> */

.address-box{
  background-color: rgb(63, 63, 63);
  width: 700px;
  height: 600px;
  border-radius: 20px;
  margin-left: 1300px;
  margin-top: -800px;

} 


 .address-icon{
  font-size: 200px;
  position: absolute;
  left: 1550px;
  margin-top: -520px;
  color: white;
  
  
}  

 .address-text h6{
  font-size: 100px;
  font-weight: bold;
  padding-left: 50px;
  color: white;

} 

.address-text h5{
  font-size: 70px;
  color: white;
  
} 


.address-text{
  position: absolute;
  left: 1420px;
  margin-top: -270px;
}






